.container {
  margin: 10px auto;
  text-align: center;
  background: rgb(255, 255, 247); /* Pergamino translúcido */
  padding: 20px;
}

h1 {
  font-size: 30px; /* Aumenta el tamaño del texto */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave para darle profundidad */
  letter-spacing: 2px; /* Espaciado entre letras para un estilo más medieval */
  padding: 20px;
  font-family: "MedievalSharp";
}

.buzon-info {
  display: grid;
  margin: 25px 0px;
  text-align: center;
  padding: 10px;
  border: 1px solid #c2a279;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #c2a279;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
}

textarea {
  resize: none;
  height: 150px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: inline-grid;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.guardar {
  border: 1px solid #f7d461;
  background: #f8e091 !important;
}

.volver {
  margin-top: 20px;
  background: none !important;
}

.boton-cerrar {
  margin-top: 20px;
  width: 100%;
  font-weight: bold;
  background-color: #d32f2f;
  color: white;
}

.boton-cerrar:hover {
  background-color: #b71c1c;
}

$bordes: (
  rojo: #f8d3cf,
  azul: #5dade2,
  verde: #97dab4,
  amarillo: #f7dc6f,
  generico: #a5d0ec,
);

@each $nombre, $color in $bordes {
  .borde-#{$nombre} {
    background-color: $color;
  }
}
