<div class="container">
  <h1>BUZÓN PERSONAL {{ nombrePersonaje }}</h1>

  <div class="buzon-info">
    <span>Selecciona a un personaje de la lista.</span>
    <span>Escríbele un mensaje anónimo.</span>
    <span>RECUERDA: Sólo él podrá leerlo ✨</span>
  </div>

  <form (ngSubmit)="enviarMensaje()">
    <label for="nombre">Destinatario</label>
    <mat-form-field>
      <mat-label>Elige un personaje</mat-label>
      <mat-select
        id="nombre"
        [(ngModel)]="buzon.codigo_destino"
        name="codigo_destino"
        required
      >
        <mat-option
          [ngClass]="getBordeClase(personaje)"
          *ngFor="let personaje of personajes"
          [value]="personaje.codigo"
          >{{ personaje.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <label for="mensaje">Mensaje</label>
    <textarea
      id="mensaje"
      [(ngModel)]="buzon.mensaje"
      name="mensaje"
      required
    ></textarea>

    <div class="button-container">
      <button mat-flat-button type="submit" class="guardar" [disabled]="!buzon.codigo_destino || !buzon.mensaje">
        Enviar
      </button>
      <button mat-flat-button color="warn" class="boton-cerrar" (click)="cerrarBuzon()">
        Cerrar Buzón
      </button>    
      <button mat-flat-button class="volver" type="button" (click)="navegar('inicio')">
        Volver
      </button>
    </div>
  </form>
</div>
