.container {
  margin: auto;
  height: 100vh;
  text-align: center;
  background: rgb(255, 255, 247); /* Pergamino translúcido */
  padding: 20px;
}

h1 {
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  padding: 20px;
  margin-top: 20px;
}

.contacto-info {
  display: block;
    margin: 25px 0px;
    text-align: center;
    padding: 10px;
    border: 1px solid #c2a279;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #c2a279;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
}

textarea {
  resize: none;
  height: 150px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: inline-grid;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.guardar{
  border: 1px solid #f7d461;
  background: #f8e091 !important;
}

.volver{
  margin-top:20px;
  background: none !important
}