<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /webs/lonelybards/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /lonelybards/index.html [L]
</IfModule>
