<div class="personajes-container">
  <h1>LISTA PERSONAJES</h1>
  <div class="info-stats">
    <span>Personajes: {{personajes.length}}</span>
    <span>Matches: {{matches.length}}</span>
  </div>
  <div class="opciones">
    <button mat-icon-button class="nuevo" type="button" (click)="navegar('admin/alta')">
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button class="stats" type="button" (click)="navegar('admin/stats')">
      <mat-icon>insert_chart</mat-icon>
    </button>
    <button mat-icon-button class="contacto" type="button" (click)="navegar('admin/contacto')">
      <mat-icon>contact_page</mat-icon>
    </button>
    <button mat-icon-button class="buzon" type="button" (click)="navegar('admin/buzon')">
      <mat-icon>mail</mat-icon>
    </button>
  </div>

  <ul>
    <li *ngFor="let personaje of personajes" 
    [ngClass]="getBordeClase(personaje)"
    [ngStyle]="getEstiloBorde(personaje)">
      <img [src]="personaje.image_url" [alt]="personaje.name" class="personaje-img" />
      <div class="info">
        <span>{{ personaje.name }}</span>
      </div>
      <div class="botones">
        <button class="editar" (click)="editarPersonaje(personaje.id!)">✏️</button>
        <button class="eliminar" (click)="eliminarPersonaje(personaje.id!)">❌</button>
      </div>
    </li>
  </ul>
  <div class="button-container">
    <button mat-raised-button type="button" (click)="navegar('inicio')">
      Volver
    </button>
  </div>
</div>