.personajes-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.personaje-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.info {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;

  span{
    font-weight: bolder;
  }
}


li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.botones {
  display: flex;
  gap: 10px;
}

button {
    border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.nuevo{
 border: 1px solid #f7d461;
 background: #f8e091 !important;
}

.editar {
  background: #b8ebfc;
  color: white;
}

.eliminar {
  background: rgb(252, 182, 182);
  color: white;
}

button:hover {
  opacity: 0.8;
}

.opciones{
    button{
        margin: 10px;
        border-radius: 20px;
    }
    margin-bottom: 20px;
}

h1{
font-size: 30px; /* Aumenta el tamaño del texto */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave para darle profundidad */
  letter-spacing: 2px; /* Espaciado entre letras para un estilo más medieval */
  padding: 20px;
  margin-top: 50px;
}

$bordes: (
  rojo: #ec7063,
  azul: #5dade2,
  verde: #52be80,
  amarillo: #f7dc6f,
  generico: #5dade2
);

@each $nombre, $color in $bordes {
  .borde-#{$nombre} {
    border: 2px solid $color;
  }
}

