<div class="chat-container">
    <div class="title-container">
        <h2>BANDEJA DE CONTACTO</h2>
    </div>

    <div *ngIf="mensajes.length === 0" class="sin-mensajes">
        No tienes mensajes en tu buzón.
    </div>

    <div *ngFor="let mensaje of mensajes" class="mensaje" [class.expandido]="mensaje.expandido" (click)="toggleMensaje(mensaje)">
        <div class="mensaje-header">
            <span class="codigo-origen">De: {{mensaje.nombre}}</span>
            <small class="fecha">{{ mensaje.fecha | date:'dd/MM/yyyy HH:mm' }}</small>
        </div>

        <p class="preview" *ngIf="!mensaje.expandido">{{ mensaje.mensaje | slice:0:30 }}...</p>
        <p class="contenido" *ngIf="mensaje.expandido">{{ mensaje.mensaje }}</p>
    </div>

    <div class="button-container">
        <button mat-raised-button class="volver" type="button" (click)="navegar('admin')">
            Volver
        </button>
    </div>
</div>