.container {
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: inline-grid;
}

.full-width {
  width: 100%;
}

button {
  margin-top: 10px;
}

button:not(:disabled).guardar {
  border: 1px solid #a6775b;
  background: #e3ccb7 !important;
}

h1 {
  font-size: 30px; /* Aumenta el tamaño del texto */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave para darle profundidad */
  letter-spacing: 2px; /* Espaciado entre letras para un estilo más medieval */
  padding: 20px;
  margin-top: 40px;
}
