<div class="info-container">
  <h1>LONELY BARDS</h1>
  <span>Uniendo personas...y personajes</span>
  <div class="title">
    <h2>Información de la APP</h2>
  </div>
  <div class="info">
    <p>
      Brinder es una aplicación diseñada para unir
      personas de una manera divertida. 🎭✨ </p>
    <br>
    <p>1️⃣ Elige a dos personas que creas que tienen afinidad, se llevan bien o simplemente porque te apetece.</p>
    <p>2️⃣ Vota por la pareja y, si quieres, escribe una nota anónima. 💌</p>
    <p>3️⃣ Las personas nominadas descubrirán sus mensajes tras acabar el juego.</p>
    <br>
    Es como el "Caldero de los shippeos", pero con un toque romano.
    🏺 ¡Quién sabe! Tal vez forjes una historia épica de amor. ❤️🔥
  </div>
  <!-- Botón de enviar más grande -->
  <div class="button-container">
    <button mat-button type="button" (click)="navegar('inicio')">Volver</button>
  </div>
</div>