* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto", serif;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.title {
  margin: 30px 0px;
}

.info {
  font-size: 17px;
  overflow-y: auto;
  text-align: left;
  background: rgb(255, 255, 247);
  border: 2px solid #5a3e1b;
  border-radius: 10px;
  padding: 20px;
}

.button-container {
  margin-top: 20px;
  display: grid;
}

.descargar {
  border: 1px solid #f7d461;
  background: #f8e091 !important;
  margin-bottom: 10px;
}
