<div id="app" class="container">
  <h1>ALTA PERSONAJE</h1>

  <form>
    <mat-form-field class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" [(ngModel)]="nombre" name="nombre" required>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
    <mat-label>Subir imagen</mat-label>
    <input type="text" matInput [value]="imagen?.name || 'Sin archivo'" readonly>
    <button mat-icon-button matSuffix (click)="fileInput.click()" aria-label="Seleccionar archivo">
        <mat-icon>attach_file</mat-icon>
    </button>
    <input type="file" #fileInput hidden (change)="onFileSelected($event)">
    </mat-form-field>

    <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!nombre" (click)="onSubmit()">
        Guardar
        </button>
        <button mat-flat-button type="button" (click)="navegar('inicio')">
        Volver
        </button>
    </div>
  </form>
</div>
