.cerrar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  button {
    border: 1px solid #a6775b;
    background: #e3ccb7 !important;
  }
}

.checkbox {
  display: flex;
  margin-left: 20px;
  text-align: center;
}

.titulo {
  text-align: center;
}
