.cerrar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  button {
    border: 1px solid #f7d461;
    background: #f8e091 !important;
  }
}

.checkbox {
  display: flex;
  margin-left: 20px;
  text-align: center;
}

.titulo {
text-align: center;
}
