.container {
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.character-slot {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  cursor: grab;
  transition: border-color 0.3s ease;
  background-color: whitesmoke;
}

.character-slot:active {
  cursor: grabbing;
}

.character-selected {
  border-color: #699bf8; /* Azul para resaltar el personaje */
  background-color: rgba(0, 123, 255, 0.1);
}

.character-slot img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.character-info {
  text-align: center;
}

.selection-slot {
  width: 120px;
  height: 140px;
  margin: 10px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center;
}

.selection-slot img {
  width: 100px;
  height: 100px;
  margin-top: 15px;
  object-fit: cover;
}

.drag-area {
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px; /* Espaciado entre los personajes */
}

.character-slot {
  flex: 0 0 auto; /* Evita que los elementos se reduzcan en tama침o */
  text-align: center;
}

.character-slot img {
  max-width: 100%;
  max-height: 100px; /* Altura m치xima */
  object-fit: cover; /* Ajusta la proporci칩n de la imagen */
  border-radius: 8px; /* Opcional: redondear las esquinas */
}

.drag-area::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra */
  border-radius: 4px;
}

.selection-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.heart-icon {
  margin: 0 20px;
  font-size: 36px;
  color: #f44336; /* Rojo */
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: inline-grid;
  width: 100%;
}

.volver {
  margin-top: 20px;
}

.enviar {
  height: 45px;
  font-size: 18px;
}

button:not(:disabled).enviar {
  border: 1px solid #a6775b;
  background: #e3ccb7 !important;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
  font-family: "MedievalSharp";
}

.subtitulo {
  margin-bottom: 10px;
}

.message-area {
  margin: 20px 0;
  display: grid;
}

textarea {
  width: 100%;
  height: 80px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

$bordes: (
  rojo: #ec7063,
  azul: #5dade2,
  verde: #52be80,
  amarillo: #f7dc6f,
  generico: #5dade2,
);

@each $nombre, $color in $bordes {
  .borde-#{$nombre} {
    border: 3px solid $color;
  }
}

/* Animaci칩n de entrada suave */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
