<div class="editar-container">
  <h1>EDITAR PERSONAJE</h1>
  <form *ngIf="personaje" (ngSubmit)="guardarCambios()">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="personaje.name" name="name" required />

    <label>Tipo:</label>
    <input type="text" [(ngModel)]="personaje.tipo" name="tipo" required />

    <label>Información:</label>
    <textarea [(ngModel)]="personaje.info_user" name="info_user"></textarea>

    <label>Imagen:</label>
    <input type="text" [(ngModel)]="personaje.image_url" name="image_url" required />
    <br>
    <input type="text" value="https://lh3.googleusercontent.com/d/" name="image_url_drive" />

    <button mat-raised-button class="guardar" type="submit">Guardar Cambios</button>
    <button mat-raised-button class="volver" (click)="navegar('admin')">Volver</button>
  </form>
</div>
