<div class="editar-container">
  <h1>EDITAR PERSONAJE</h1>
  <form *ngIf="personaje" (ngSubmit)="guardarCambios()">

    <div class="image-container">
      <img [src]="personaje.image_url" alt="Imagen de {{personaje.name}}" />
    </div>

    <label>Nombre:</label>
    <div class="input-group">
      <input type="text" [(ngModel)]="personaje.name" name="name" required />
      <mat-checkbox class="checkbox" [checked]="personaje.activo === 'activo'" (change)="toggleActivo($event)" />
    </div>

    <label>Información:</label>
    <textarea [(ngModel)]="personaje.info_user" name="info_user"></textarea>

    <label>Bufón Letal:</label>
    <textarea class="bletal" [(ngModel)]="personaje.rol" name="rol" required></textarea>

    <label>Código personal:</label>
    <div class="input-group">
      <input matInput [type]="!mostrarPassword ? 'password' : 'text'" [(ngModel)]="personaje.codigo" name="codigo"
        readonly />
      <button mat-flac-button type="button" mat-icon-button (click)="copiarAlPortapapeles()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>

    <label>Imagen:</label>
    <input type="text" [(ngModel)]="personaje.image_url" name="image_url" required />

    <button mat-raised-button class="guardar" type="submit">Guardar Cambios</button>
    <button mat-raised-button class="volver" (click)="navegar('admin')">Volver</button>
  </form>
</div>