.editar-container {
  margin: 10px auto;
  text-align: center;
  background: rgb(255, 255, 247);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    width: 120px;
    height: 120px;
    border-radius: 20%;
    object-fit: cover;
  }
}

h1 {
  font-size: 30px; /* Aumenta el tamaño del texto */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra suave para darle profundidad */
  letter-spacing: 2px; /* Espaciado entre letras para un estilo más medieval */
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input,
textarea {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &.guardar {
    margin-top: 15px;
    border: 1px solid #a6775b;
    background: #e3ccb7 !important;
  }
  &.volver {
    margin-top: 15px;
  }
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
}

.copiar-icono {
  font-size: 24px; /* Tamaño del icono */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}

.checkbox {
  transform: scale(1.5); /* Aumenta el tamaño del checkbox */
}

.bletal {
  height: 100px;
}
