.chat-container {
  margin: 10px auto;
  text-align: center;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title-container {
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}

.mensaje {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.mensaje-header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: bold;
  color: #333;
}

.fecha {
  color: #666;
  font-size: 0.8em;
}

.preview {
  color: #666;
  padding: 15px;
}

.contenido {
  color: #222;
  padding: 15px;
}

.expandido{
  border: 2px solid #f7d461;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modificar{
  background-color: #f8e091 !important;
  margin-bottom: 20px;
}

.enviar {
  border: 1px solid #f7d461;
  background: #f8e091 !important;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: grid;
}
