<div class="container">
  <h1>LONELY BARDS</h1>
  <span>Uniendo personas...y personajes</span>

  <div class="button-container">
    <button (click)="navegar('brinder')">Brinder</button>
    <button (click)="navegar('info')">Información</button>
    <button (click)="navegar('buzon/mensajes')">Buzón Personal</button>
    <button (click)="navegar('contacto')">Contacto</button>
    <button (click)="navegar('admin')">Administración</button>
  </div>

  <footer class="footer">
    Brinder - V1.5.2 - DRMDesign
  </footer>

</div>