<div class="container-inicio">
  <h1 class="animated-title">
    <div class="title-line">
      <span>L</span><span>O</span><span>N</span><span>E</span><span>L</span><span>Y</span>
    </div>
    <div class="title-line">
      <span>B</span><span>A</span><span>R</span><span>D</span><span>S</span>
    </div>
  </h1>
  <span>Uniendo personas desde el medievo</span>

  <div class="button-container">

    <button class="pushable" (click)="navegar('lonelybards')">
      <span class="front">
        <mat-icon class="icon material-icons-outlined">favorite_border</mat-icon>
        <span class="text">Lonely Bards</span>
      </span>
    </button>

    <button class="pushable" (click)="navegar('buzon/mensajes')">
      <span class="front">
        <mat-icon class="icon material-icons-outlined">email</mat-icon>
        <span class="text">Mi Buzón</span>
      </span>
    </button>

    <button class="pushable" (click)="navegar('info')">
      <span class="front">
        <mat-icon class="icon material-icons-outlined">info</mat-icon>
        <span class="text">Información</span>
      </span>
    </button>

    <button class="pushable" (click)="navegar('contacto')">
      <span class="front">
        <mat-icon class="icon material-icons-outlined">account_circle</mat-icon>
        <span class="text">Contacto</span>
      </span>
    </button>

  </div>

  <footer class="footer">
    <span>Lonely Bards - V1.5.0 - <a class="admin" (click)="navegar('admin')">DRMDesign</a></span>
  </footer>

</div>