<div class="container-inicio">
  <h1 class="animated-title">
    <span>B</span><span>R</span><span>I</span><span>N</span><span>D</span><span>E</span><span>R</span>
  </h1>

  <span>Uniendo personas...y personajes</span>

  <div class="button-container">

    <button class="pushable" (click)="navegar('lonelybards')">
      <span class="front">
        <mat-icon class="icon material-icons-outlined">favorite_border</mat-icon>
        <span class="text">Brinder</span>
      </span>
    </button>

    <button class="pushable" (click)="navegar('buzon/mensajes')">
      <span class="front">
        <mat-icon class="icon material-icons-outlined">email</mat-icon>
        <span class="text">Mi Buzón</span>
      </span>
    </button>

    <button class="pushable" (click)="navegar('info')">
      <span class="front">
        <mat-icon class="icon material-icons-outlined">info</mat-icon>
        <span class="text">Información</span>
      </span>
    </button>

    <button class="pushable" (click)="navegar('contacto')">
      <span class="front">
        <mat-icon class="icon material-icons-outlined">account_circle</mat-icon>
        <span class="text">Contacto</span>
      </span>
    </button>

  </div>

  <footer class="footer">
    <span>Lonely Bards - V1.2.0 - <a class="admin" (click)="navegar('admin')">DRMDesign</a></span>
  </footer>

</div>