* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.container-inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url("../../assets/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
}

h1 {
  font-size: 60px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.icon {
  position: absolute;
  left: 15px;
}

.admin {
  cursor: pointer;
  text-decoration: none;
  color: #a8a8a8;
}

.footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #a8a8a8;
  padding: 10px;
  width: 100%;
  display: flex;

  mat-icon {
    font-size: 21px;
  }
}

.animated-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  font-family: "MedievalSharp";
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* Estilo para cada línea */
.title-line {
  display: flex;
}

/* Animación de cambio de color */
.animated-title span {
  animation: colorChange 2s infinite alternate;
  display: inline-block;
  padding: 0 5px;
}

/* Asignamos un retardo diferente a cada letra */
.animated-title span:nth-child(1) {
  animation-delay: 0s;
}
.animated-title span:nth-child(2) {
  animation-delay: 0.4s;
}
.animated-title span:nth-child(3) {
  animation-delay: 0.6s;
}
.animated-title span:nth-child(4) {
  animation-delay: 0.8s;
}
.animated-title span:nth-child(5) {
  animation-delay: 1s;
}
.animated-title span:nth-child(6) {
  animation-delay: 1.2s;
}
.animated-title span:nth-child(7) {
  animation-delay: 1.4s;
}

/* Animación de colores medievales */
@keyframes colorChange {
  0% {
    color: #6a0dad;
  } /* Morado oscuro */
  100% {
    color: #ffd700;
  } /* Amarillo dorado */
}

.pushable {
  background: #a6775b;
  width: 80%;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  background: #e3ccb7;
  color: black;
  transform: translateY(-6px);
  text-transform: uppercase;
}

.pushable:active .front {
  transform: translateY(-2px);
}

button:disabled {
  background: #a8a8a8;
}

.disabled {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  background: #d8d8d8;
  color: black;
  transform: translateY(-6px);
  text-transform: uppercase;
}
