<div class="container">
    <div class="title-container">
        <h2>BUFÓN<mat-icon class="icon material-symbols-outlined">skull</mat-icon>LETAL</h2>
        <p>Estado de los personajes en el juego</p>
        <div class="button-container">
            <!--<button mat-button (click)="seleccionarEstado('todos')" [class.seleccionado]="estadoSeleccionado === 'todos'">
                Todos
            </button>-->
            <button mat-button (click)="seleccionarEstado('vivo')" [class.seleccionado]="estadoSeleccionado === 'vivo'">
                Vivos: {{ vivos }}
            </button>
            <button mat-button (click)="seleccionarEstado('muerto')" [class.seleccionado]="estadoSeleccionado === 'muerto'">
                Muertos: {{ muertos }}
            </button>
        </div>
    </div>

    <div class="characters-table">
        <div class="character-row" *ngFor="let row of filteredCharacters">
            <div class="character-card" [class.muerto]="row.estado === 'muerto'">
                <div class="red-cross"></div>
                <img [src]="row.image_url" class="character-image">
                <p>{{ row.name }}</p>
                <span *ngIf="row.estado === 'vivo'">VIVO</span>
                <span *ngIf="row.estado === 'muerto'">MUERTO</span>
            </div>
        </div>
    </div>

    <div>
        <button mat-raised-button class="volver" type="button" (click)="navegar('inicio')">
            Volver
        </button>
    </div>

</div>